<% if resource.errors.any? %>
  <div id="error_explanation uk-animation-toggle">
    <div class="uk-alert-danger uk-animation-shake" uk-alert>
      <span class="uk-alert-close" uk-close> </span>
      <% resource.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  </div>
<% end %>
